.DS_Store
.AppleDouble
.LSOverride
Icon
*.dmg

dist

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdata/
*.xcuserdatad/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint

# SwiftPM
.build/
.swiftpm/

# Carthage
Carthage/Build/

# CocoaPods
Pods/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive
